- @stories.each do |story|
  .panel.panel-primary
    .panel-heading
      .container-fluid
        .row
          .col_content.col-xs-10.col-sm-10.col-md-10
            %span.story_title
              = story.title
          .col_content.col-xs-2.col-sm-2.col-md-2
            .story_actions
              = link_to edit_story_path(story), :class => 'btn btn-default btn-xs' do
                %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
              = link_to story_path(story), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-default btn-xs' do
                %span.glyphicon.glyphicon-trash{"aria-hidden" => "true"}
    .panel-body
      .story_tags
        - story.tags.each do |tags|
          tags.name
      .story_content
        = story.content
      %hr
      .container-fluid
        .row
          .col_content.col-xs-1.col-sm-1.col-md-1
            = link_to "#", :class => 'btn btn-default btn-xs' do
              %span.glyphicon.glyphicon-minus{"aria-hidden" => "true"}
          .col_content.col-xs-10.col-sm-10.col-md-10
            .progress
              .progress-bar.progress-bar-danger{:style => "width: 25%"}
              .progress-bar.progress-bar-success{:style => "width: 75%"}
          .col_content.col-xs-1.col-sm-1.col-md-1
            = link_to "#", :class => 'btn btn-default btn-xs' do
              %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
      .story_timestamp
        .container-fluid
          .row
            .created_at.col-xs-6.col-sm-6.col-md-6
              %a{"data-container" => "body", "data-content" => "#{story.created_at.full_format(cookies[:fts_offset])}", "data-trigger" => "focus", "tabindex" => "0", "role" => "button", "data-placement" => "bottom", "data-toggle" => "popover"}
                = "Created at #{story.created_at.friendly_format}"
            .updated_at.col-xs-6.col-sm-6.col-md-6
              %a{"data-container" => "body", "data-content" => "#{story.updated_at.full_format(cookies[:fts_offset])}", "data-trigger" => "focus", "tabindex" => "0", "role" => "button", "data-placement" => "bottom", "data-toggle" => "popover"}
                = "Updated at #{story.updated_at.friendly_format}"
